#hpagina {
    margin: 0px;
    padding: 0px;
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    width: auto;
}
body {
    margin:0px;
    padding:0;
}

nav {
    background-color: #0f3009;
    width: 100%;
    height: 100px;
    margin-top: -18px;
}


ul {
    list-style: none;
    display:flex;
}

.list {
    list-style: none;
    display:flex;
    margin-left: 595px;
    margin-top: 30px;
}
.nava {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 30px;
    font-family: Montserrat;
}

#tcrlogo {
    height:95px
}

#titel1 {
    font-size: 75px;
    margin-left: 535px;
    color: white;
    margin-top: 300px;
    font-family:Montserrat;
    font-weight:bolder;
}

nav a:hover {
    background-color: #3d5e36;
    padding-top: 50px;
    padding-bottom: 40px;
}

#titel2 {
    font-family: Montserrat;
    margin-left: 740px;
    margin-top: -25px;
    color: #a2eea2;
}

#titel3 {
    font-family:Montserrat;
    margin-left: 825px;
    color: #082502;
}

footer {
    background-color: #417936;
    margin-top: 277px;
    font-family: Montserrat;
    padding:10px;
    color:white;
}

#footertext {
    color:white;
    margin-left: 750px;
    font-size: 20px;
}

#logo {
    padding:0px;
    background-color: #0f3009;
    padding-bottom: -5px;
}

#prof1 {
    width:350px;
    height:350px;
    background-color: #082502;
    margin-left: 15%;
    margin-top: 3%;
    border:#0dac0d solid 10px;
}



#prof2 {
    width:350px;
    height:350px;
    background-color: #082502;
    margin-top: 10%;
    margin-left: 70%;
    border:#0dac0d solid 10px;
}

#overonsh1 {
    margin-left: 20%;
    font-size: 50px;
    margin-top: -0.08%;
    font-family: Montserrat;
}

#overonsp1 {
    max-width:600px;
    margin-left: 50%;
    font-size: 35px;
    margin-top: -20%;
    font-family: Montserrat;
}

#overonsh2 {
    font-size: 50px;
    margin-left: 75%;
    margin-top: -0.08%;
    font-family: Montserrat;
    padding-bottom: -30%;
}

#overonsp2 {
    max-width:600px;
    margin-left: 20%;
    font-size: 35px;
    margin-top: -30%;
    font-family: Montserrat;
}

#studieuitlegh1 {
    font-family: Montserrat;
    font-size:40px;
    margin-left: 3%;
}

#studieuitlegh2 {
    font-family: Montserrat;
    margin-left: 50%;
    margin-top: 4%;
    font-size:40px;
}

#studieuitlegp1 {
    font-family: Montserrat;
    width: 800px;
    font-size:20px;
    margin-left: 3%;
    padding-bottom: -5%;
}

#studieuitlegp2 {
    font-family: Montserrat;
    width: 800px;
    margin-left: 50%;
    font-size:20px;
}


#photo4 {
    height: 575px;
    width:875px;
    margin-left: 50%;
    margin-top: -35%;
}



#photo5 {
margin:0%;
height: 550px;
margin-left: 3%;
margin-top:-40%;
padding-top: -10%;

}

#sufooter {
    margin-top: -0.0001%;
}
#iframebox{
    background-color: #082502;
    width: 900px;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: -6%;
}

iframe {
    width: 800px;
    height: 450px;
    margin: 5.5%;
}

#locatiegidsbutton {
    width:300px;
    height: 75px;
    margin-left: 41%;
    margin-top: 1%;
    border: 3px inset rgb(82, 139, 91);
    border-radius: 5px;
    background-color: #2e4e2e;
    font-family: Montserrat;
    font-weight: bold;
    color:white
}

.locatieh1 {
    font-family: Montserrat;
    text-align: center;
    margin-left: -0.5%;
}

.locatieh2 {
    font-family: Montserrat;
    text-align: center;
    margin-left: -1%;
}

.locatiep {
    font-family: Montserrat;
    text-align: center;
    width:900px;
    margin-left: 25%;
}

#placeholder6 {
    width:1000px;
    height:550px;
    margin-left: 5%;
    margin-top: 2%;
}

#bar1 {
    height: 250px;
    width:700px;
    color:#0dac0d;
}

#bar2 {
    height: 250px;
    width:700px;
    color:#0dac0d;
}


#planningp1 {
    width:600px;
    font-size:25px;
    font-family: Montserrat;
    margin-left: 60%;
    margin-top: -29%;
}

#planningp2 {
    font-size: 25px;
    font-family: Montserrat;
    margin-top: 3%;
    width:1600px;
    margin-left: 5%;
}

#locatiegidsfooter {
    margin-top: -0.1%;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 75px;
    width: 975px;
    background-color: #a2eea2;
}

progress::-moz-progress-bar { background: #0dac0d; }

label {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
}

#pbr {
    margin-bottom: 2.5%;
}

#planningfoot {
    margin-top: 4.4%;
}
